.button {
  font-family: Roboto, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 40px;
  transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;

  @include desktop {
    font-size: 15px;
  }

  &--white {
    border: 2px solid white;
    color: white;
    background-color: transparent;

    &:hover {
      cursor: pointer;
      background-color: var(--yellow);
      color: var(--orange);
      border: 2px solid var(--orange);
    }
  }

  &--green {
    border: 2px solid var(--blue);
    color: white;
    background-color: var(--blue);

    &:hover {
      cursor: pointer;
      background-color: white;
      color: var(--blue);
      border: 2px solid var(--blue);
    }
  }
}
